@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --green-blue: #4D96A9;
    --dark-purple: #855FB1;
    --black: #28283D;
    --gray: #87879D;
    --cyan: #8FE3F9;
    --light-purple: #D9B8FF;
    --white: #FAFAFA;
}
/* 
    H1 - Red Hat Display 64px
    H2 - from 40px to 44px
    Overline - From 16px to 26px
    Character space - 4px
    Body from 18px to 26px
    Font-weight 500 and 900
*/
body
{
    font-size: 26px;
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--white);
    min-height: auto;
}
.d-flex {display: flex;}
.align-items-center {align-items: center;}
.justify-content-center {justify-content: center;}
.justify-content-around {justify-content: space-around;}
.justify-content-between {justify-content: space-between}
.justify-content-end {justify-content: flex-end;}
.justify-content-evenly {justify-content: space-evenly;}
.overflow-hidden {overflow: hidden;}
header
{
    width: 100%;
    height: 160px;
}
h1{font-size: 64px;}
h2{font-weight: 900;}
p
{
    font-size: 16px;
    line-height: 26px;
}
.container
{
    width: 100%;
    height: auto;
}
.logo
{
    background-image: url(../logo.svg);
    width: 100%;
    height: inherit;
    background-repeat: no-repeat;
    background-position: center;
}
.images
{
    display: flex;
    height: inherit;
    width: 33%;
}
.images img
{
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.images img:nth-child(2)
{
    margin-top: 3rem;
}
.images .row1, .images .row2, .images .row3
{
    flex-direction: column;
}
.images .row2
{
    height: inherit;
}

section.top
{
    height: 358px;
}
.content
{
    width: 34%;
    text-align: center;
}
.content h1
{
    width: 80%;
    margin: 0 auto;
}
.content p
{
    font-size: 18px;
    color: var(--gray);
    max-width: 79%;
    margin: 0 auto;
    line-height: 26px;
    margin-top: 30px;
}
.row-left:nth-child(1){margin: 3rem 3rem 3rem -3rem;}
.row-left{margin: 3rem 3rem 3rem 0rem;}
.row-right{margin: 3rem -1.7rem 3rem 6rem;}
button
{
    border: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    border-radius: 29px;
    color: var(--white);
}
button:hover
{
    cursor: pointer;
}
.buttons
{
    margin-top: 32px;
    width: 100%;
    height: 58px;
}
#download
{
    height: 58px;
    background-color: var(--green-blue);
    padding: 16px 40px;
    transition: .4s ease-in;
}
#download:hover
{
    background-color: #71C0D4;
}
#download .version
{
    color: var(--cyan);
}
span
{
    margin-left: 4px;
}
#what-is-it
{
    background-color: var(--dark-purple);
    width: 139px;
    height: 58px;
    transition: .4s ease-in;
}
#what-is-it:hover
{
    background-color: #B18BDD;
}
.numbers
{
    width: 100%;
    margin-top: 72px;
}
.rectangle
{
    width: 1px;
    height: 84px;
    background-color: rgba(135, 135, 137, 0.25);
    transform: translate(28px, 16px);
}
.number
{
    color: var(--gray);
    margin-top: 100px;
    width: 56px;
    height: 56px;
    border: 1px solid rgba(135, 135, 137, 0.25);
    border-radius: 50%;
}
.number p 
{
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}
.container-img
{
    width: 100%;
    margin-top: 60px;
}
.container-img img
{
    width: 255px;
    height: 242px;
    padding: 30px;
    border-radius: 35px;
}
.text
{
    width: 75%;
    text-align: center;
    margin: 50px auto 100px auto
}
.text1
{
    color: var(--green-blue);
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.text2
{
    font-size: 40px;
    width: 45%;
    margin: 0 auto;
}
.text3
{
    margin: 0 auto;
    width: 38%;
    color: var(--gray);
    font-size: 18px;
    line-height: 26px;
    /* margin-bottom: 184px; */
    margin-top: 32px;

}
.footer
{
    max-width: 100%;
    min-height: 308px;
    /* background-image: url(../desktop/img-footer.jpg); */
    background: linear-gradient(rgba(77,150,169, 0.8), rgba(77,150,169, 0.8)), url(../desktop/image-footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footer h2
{
    color: var(--white);
}
.h2
{
    width: 350px;
    height: auto;
}
.content-footer
{
    min-height: 308px;
}
.content-footer p
{
    font-size: 18px;
    color: var(--white);
    width: 350px;
    height: auto;
    margin-left: 125px;
    margin-right: 92px;
}
#download-footer
{
    width: 193px;
    height: 58px;
    background-color: var(--dark-purple);
    transition: .4s ease-in;
    font-size: 16px;
}
#download-footer:hover
{
    background-color: #B18BDD;
}
.content-footer .version
{
    color: #D9B8FF;
}
.num2
{
    position: relative;
    z-index: 99;
    top: 25px;
    background-color: var(--white);
}
.numbers2 .rectangle
{
    transform: translate(28px, 41px);
}

@media screen and (max-width: 1440px)
{
    .content h1
    {
        font-size: 58px;
    }
    .text
    {
        margin: 50px 0 100px 0;
        width: 100%;
    }
    .text3
    {
        width: 32%;
    }
    .images img
    {
        width: 90px;
        height: 90px;
    }
    .row-right
    {
        margin-left: 3rem;
    }
    .row-left,.row-left:nth-child(1)
    {
        margin-right: 2rem;
    }
    .container-img img
    {
        width: 50%;
        height: 50%;
    }
    #download
    {
        padding: 5px 30px;
    }
}
@media screen and (max-width: 992px)
{
    .content h1 
    {
        font-size: 40px;
    }
    .content
    {
        font-size: 16px;
    }
    button
    {
        font-size: 15px;
    }
    #download
    {
        padding: 5px 20px;
    }
    .row-right
    {
        margin-left: 2rem;
    }
    .row-left,.row-left:nth-child(1)
    {
        margin-right: 0.5rem;
    }
    .row-left:nth-child(1)
    {
        margin-left: -12px;
    }
    .h2 h2
    {
        font-size: 33px;
    }
    .content-footer
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content-footer p
    {
        margin-left: 30px;
        margin-right: 30px;
    }
}
/* 768px */
@media screen and (max-width: 856px)
{
    section.top
    {
        /* height: 650px; */
        flex-wrap: wrap;
    }
    .images
    {
        width: 50%;
        order: 2;
        visibility: hidden;

    }
    .img1-container
    {
        background-image: url(../tablet/image-hero.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-size: 105%;
        background-position-x: -10px;
    }
    /* .images img:nth-child(2) 
    {
        margin-top: 28px;
    }
    .row-left,.row-right,.row-left:nth-child(1)
    {
        margin: 0;
    }
    .row-left:nth-child(2)
    {
        margin-top: 240px;
        margin-right: 32px;
        margin-left: 32px;
    }
    .row-left:nth-child(3)
    {
        margin-left: -15px;
    }
    .row-right:nth-child(1)
    {
        margin-right: -15px;
    }
    .row-right:nth-child(2)
    {
        margin-bottom: 240px;
        margin-right: 32px;
        margin-left: 32px;
    } */
    .content
    {
        order: 3;
        width: 457px;
    }
    .content h1
    {
        font-size: 48px;
        width: 76%;
    }
    .content p
    {
        font-size: 16px;
        max-width: 99%;
    }
    .content-footer
    {
        min-height: auto;
    }
    /* .container-img
    {
        margin: 0 40px;
    } */
    .container-img img
    {
        /* width: 164px;
        height: 156px; */
        padding: 11px;
        border-radius: 15px;
    }
    #what-is-it
    {
        margin-left: 16px;
    }
    .content-footer
    {
        flex-direction: column;
    }
    .footer
    {
        height: auto;
    }
    h2
    {
        font-size: 40px;
    }
    .footer h2
    {
        margin-top: 92px;
        text-align: center;
    }
    .content-footer p 
    {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-top: 32px;
        margin-bottom: 40px;
        width: 75%;
    }
    .btn-container
    {
        margin-bottom: 66px;
    }
    .text
    {
        margin: 0;
        width: 100%;
    }
    .text1
    {
        margin-top: 48px;
    }
    .text2
    {
        width: 58%;
    }
    .text3
    {
        width: 77%;
    }
    .first
    {
        margin-top: 335px;
    }
    #download
    {
        padding: 5px 40px;
    }
}
@media only screen and (max-width: 768px) and (orientation: landscape) 
{
    .text3
    {
        width: 72%;
    }
}
@media screen and (max-width: 375px)
{
    .img1-container
    {
        background-size: 109%;
        background-position-x: -19px;
    }
    .content h1
    {
        font-size: 40px;
    }
    section.top
    {
        height: 180px;
    }
    .buttons
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #download
    {
        width: 193px;
        height: 56px;
        padding: 13px 20px;
        margin-top: 32px;
    }
    #what-is-it
    {
        width: 139px;
        height: 58px;
        padding: 11px 20px;
        margin-left: 0;
        margin-top: 16px;
    }
    .first
    {
        margin-top: 399px;
    }
    .container-img
    {
        flex-wrap: wrap;  
    }
    .container-img img
    {
        width: 45%;
        height: 45%;
        padding: 10px;
    }
    .text2
    {
        width: 90%;
    }
    .h2
    {
        width: auto;
    }
    h2
    {
        font-size: 36px;
    }
    .text3
    {
        width: 88%;
    }
    .content p
    {
        max-width: 100%;
    }
}